{% extends 'base.html.twig' %}

{% block title %}ViryBooks Hotels{% endblock %}

{% block body %}

<div class="">
    <h1>ViryBooks Hotel Reservations</h1>
        <h2>Réservation</h2>
        <div class="row justify-content-center">
            <div class="col-11 rounded border border-warning p-2 text-center">
                <form method="post" action="{{ path('rooms') }}">
                    <label for="hotel">Dans quel hotel ?</label>
                    <select id="hotel" name="hotel" required>
                        {% for hotel in hotelsList %}
                            <option value="{{ hotel.id }}">Hotel {{ hotel.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="guest">Chambre:</label>
                    <select name="guest" id="" required>
                        <option value="1">Simple</option>
                        <option value="2">Double</option>
                    </select>
                    <label for="startedAt">Arrivée</label>
                    <input type="date" id="startedAt" name="startedAt" required>

                    <label for="endedAt">Départ</label>
                    <input type="date" id="endedAt" name="endedAt" required>

                    <button type="submit" class="btn btn-primary">Réserver</button>
                </form>
            </div>
        </div>

        <h2>Nos hotels</h2>
        {% for hotel in hotelsList %}

            <div class="row">
                <div class="col-3 ml-5">
                    <img src="{{ hotel.img }}" class="img-fluid" alt="Fixture with Alice from lorempixel.com">
                </div>
                <div class="col-7 bg-light border border-info">
                    <h4 ><strong> {{ hotel.name }}</strong></h4>
                    <p>{{ hotel.description }}</p>
                </div>

            </div>
            <hr>
    {% endfor %}

</div>
{% endblock %}
